* {
    margin: 0;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: end;
}

#header .Travel {
    display: flex;
    align-items: flex-end;
    margin-left: 2%
}

.Travel p {
    text-transform: uppercase;
    font-size: 2rem;
    color: greenyellow;
}

.Travel h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-left: 3%;
    margin-bottom: -2%;
}

.contact {
    margin-left: 30%;
    color: #8d8585;
    padding-top: 2%;
}

#header .contact i {
    font-size: 1rem;
    color: #8d8585;
    margin: 0 3px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-left: 40%;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 15px;
    color: black;
    font-weight: bold;
}

.navbar ul li a.active {
    color: #9d0921de;
}

.navbar ul li a:hover {
    color: #9d0921de;
    transition: all 0.5s;
}

.icon-bar {
    margin: 0 10px;
}


/* banner */

#banner {
    background-image: url(./images/1.jpg);
    width: 100%;
    height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    background-position: center;
    position: relative;
}

#banner h2 {
    text-transform: uppercase;
    padding-top: 18%;
    padding-bottom: 20px;
    font-size: 2rem;
    letter-spacing: 0.7rem;
}

#banner h1 {
    font-size: 4rem;
    padding-bottom: 30px;
    letter-spacing: 0.7rem;
}

#banner p {
    width: 45%;
    margin: auto;
    padding: 15px
}

#banner button {
    background: #53ba1ef0;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: bold;
}

.banner-content {
    display: flex;
    justify-content: center;
    padding: 4%;
}

.banner__item {
    width: 15px;
    height: 15px;
    background: #53ba1ef0;
    border-radius: 50%;
    margin: 0 10px;
}

.banner__item1 {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.banner__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 97%;
    top: 97%;
}

#welcome {
    width: 90%;
    margin: auto;
    position: relative;
}

#welcome>h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 5%;
}

#welcome .welcome__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.welcome__content .welcome__item.text__1 {
    grid-column: 1 / span 2;
}

.welcome__content .welcome__item.text__2 {
    grid-column: 2 / span 2;
}

.welcome__item h1 {
    font-size: 2rem;
    padding: 10px 0;
}

.welcome__item p {
    font-size: 1.3rem;
    color: gray;
}

.welcome__item button,
.news__item button {
    font-size: 1.5rem;
    margin: 2rem 0;
    border: none;
    background: #53ba1ef0;
    color: white;
    padding: 10px 20px;
}

.welcome__item img {
    width: 100%;
    height: 100%;
}

.welcome__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 102%;
    top: 50%;
}


/* services */

#services {
    text-align: center;
    background: #00b9ff4d;
    position: relative;
    margin: 5% 0;
    padding-top: 1%;
    padding-bottom: 4%;
}

#services>h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 5%;
}

.services__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    width: 90%;
    margin: auto;
}

.services__item i {
    width: 3rem;
    /* height: 3rem; */
    font-size: 2.5rem;
    color: #53ba1ef0;
    background: white;
    margin-bottom: 10px;
    line-height: 3rem;
}

.services__item h1 {
    font-size: 1.5rem;
    padding: 15px 0;
}

.services__item p {
    color: grey;
    font-size: 1.2rem;
}

.services__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 97%;
    top: 55%;
}


/* news
 */

#news {
    padding-bottom: 4%;
    position: relative;
}

#news>h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    padding-bottom: 3%;
    color: #918e8e;
}

.news__content {
    width: 90%;
    margin: auto;
    /* display: flex; */
}

.news__item__img img {
    width: 100%;
}

.news__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

.fa-calendar-alt {
    margin-left: 25%;
}

.news__item span {
    margin-left: 5px;
}

.news__item p {
    font-size: 3.5rem;
    font-weight: bolder;
    width: 61%;
    margin: 6% 5%;
}

.news__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 97%;
    top: 54%;
}


/* join */

#join {
    background-image: url(./images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
    position: relative;
}

#join>h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 4%;
}

.join__content input {
    margin-left: 35%;
    width: 25%;
    padding: 0.6%;
}

.join__content button {
    background: #53ba1ef0;
    border: none;
    color: white;
    padding: 0.8rem 1rem;
}

.join__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 97%;
    top: 70%;
}


/* notice */

#notice {
    width: 90%;
    margin: auto;
}

#notice .notice__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5rem;
    padding: 5% 0;
}

.notice__content .text1 {
    grid-column: 1 / span 2;
}

.notice__content .text2 {
    grid-column: 3 / span 2;
}

.notice__item ul li {
    list-style: none;
    margin-left: -20%;
    font-weight: bold;
}

.notice__item h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.notice__item p {
    color: gray;
    margin-bottom: 10px;
}

.notice__item .badge {
    color: #53ba1ef0;
}

.notice__item ul li span {
    color: gray;
}

#footer {
    background: black;
    color: white;
    padding: 3%;
    text-align: center;
    position: relative;
}

#footer h1 {
    font-size: 1.5rem;
}

#footer span {
    color: #53ba1ef0;
    font-size: 1.5rem;
}

.footer__icon {
    background-image: url(./images/arrow.png);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 97%;
    top: 35%;
}